.controlpanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    width: 20vw;
    height: 50vh;
    overflow: scroll;
    margin: 20px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    gap: 1rem;
}

.featuresBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.featureColorLines {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    width: 90%;
}

.feature {
    font-size: .75rem;
}

.colorsBox {
    display: flex;
    gap: 1rem;
}

.colorband {
    display: flex;
    flex-direction: column;  
}

.colorband:hover {
    cursor: pointer;
    border: 3px solid lightgray;
}


