.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

svg {
    overflow: visible;
}

path.area {
    overflow: visible
}